body {
    font-family: roboto;
}

section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

p {
    font-size: 14px;
    margin: 10px;
}

.wl {
    font-weight: 600;
    font-size: 20px;
    color: rgb(42, 59, 142);
}

.logo img {
    width: auto; max-width: 400px;
    margin-top: 30px;
}

.msg {
    margin-top: 120px;
}
.copy {
    background-color: rgb(255, 255, 255);
}
.tracking {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
}
.track_box {
  margin-top: 8px;
}

.track_box input{
    margin-top: 8px;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgb(178, 178, 178);
}

.track_t {
    font-size: 14px;
    font-weight: 600;
    color: rgb(42, 59, 142);
}

.track_box button {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: rgb(42, 59, 142);
    color: rgb(239, 239, 239);
    border:0 solid rgb(178, 178, 178);
}

.btn-track {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.wp-icon{
    height: 14px;
  margin-bottom: -3px;
  margin-right: 8px;
    
}
.whatsapp-btn {
    height: 28px;
    padding: 0px 14px 0px 14px;
    margin-top: 50px;
    background-color: rgb(87, 149, 66);
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(239, 239, 239);
    border:0
} 

.whasapp {
   margin-bottom: 20px;
}

footer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.instagram {
    height: 20px; width: 20px;
    margin: 10px 3px 10px 10px;
}

.facebook {
    height: 20px; width: 20px;
    margin: 10px 15px 10px 4px;
}
.cont_t {
 margin: 12px 0px 10px 10px;
font-weight: 400; font-size: 12px;
}

.legal-text {
    text-align: center;
    font-weight: 400; font-size: 12px
